.image {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.cardtext {
    background-color: white;
    border-radius: 5%;
    cursor: progress;
}

.fadeInText {
    display: inline-block;
    color: black;
    animation: 3s slideIn;
    -webkit-animation: slideIn linear 3s;
    -moz-animation: slideIn linear 3s;
    -o-animation: slideIn linear 3s;
    -ms-animation: slideIn linear 3s;
}

.modalTitle {
    font-weight: bold;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes slideIn {
    from {
        margin-top: 15%;
        opacity: 0;
    }

    to {
        margin-top: 0%;
        opacity: 1;
    }
}

@-moz-keyframes slideIn {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

@-webkit-keyframes slideIn {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

@-o-keyframes slideIn {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

@-ms-keyframes slideIn {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

.bigTitle1 {
    border-bottom: 3px solid #f78a28;
    line-height: 0.1em;
    width: 300px;
}

.bigTitle2 {
    border-bottom: 3px solid #f78a28;
    line-height: 0.1em;
    width: 400px;
}

.bigTitle1 span,
.bigTitle2 span {
    background: #fff;
    padding: 0 20px;
    text-align: center;
}

.cardTitleWrapper {
    display: flex;
    justify-content: center;
}

.cardTitle {
    width: 90%;
    background-color: rgba(231, 231, 231, 0.878);
    padding-top: 1%;
    font-weight: bold;
    border-radius: 5px;
    opacity: 90%;
    min-height: 40px;
    text-align: center;
    transition: all 0.25s;
}

.responsiveCard {
    border-style: none;
}

.lastCard {
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.det-button,
.app-button {
    position: absolute;
    bottom: 10%;
}

.app-button {
    right: 30%;
}

.det-button {
    left: 30%;
}

.groupsButton {
    display: flex;
    justify-content: center;
}

.toggleButton {
    color: black !important;
    background: white !important;
    border-color: white !important;
}

.buttons {
    position: absolute;
    bottom: 10%;
}

.bttn {
    transition: all 0.25s;
    border: 1px solid #f78a28 !important;
}

.bttn:hover {
    color: #fff !important;
    background: #f78a28 !important;
}

.bttn2 {
    transition: all 0.25s;
    color: white !important;
    background: #f78a28 !important;
    border-color: #f78a28 !important;
}

.bttn2:hover {
    background: #faaa64 !important;
}

.input,
.textarea {
    background-color: #f1f1f4 !important;
}

.invalid-feedback {
    display: block !important;
}

.inputno {
    padding-top: 1px;
    padding-bottom: 5px;
}