.footer-wrap {
  min-height: 262px;
}

.bold {
  font-family: Montserrat-SemiBold, Arial, serif;
}

.icon {
  width: 21.88px;
  height: 21.88px;
}

.hrFooter {
  height: 3px !important;
}

@media only screen and (min-width: 767px) {
  .hrFooter {
    margin-top: 2.5rem !important;
  }
}
