.logo-brand {
  height: 60px;
}

.photo-profile {
  width: 32.28px;
  height: 33.15px;
}

nav {
  min-height: 80px;
}

.search-insert {
  margin-left: 1.25rem;
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #1a1a1a;
}

nav a:hover {
  color: #545454;
}

.navbar-nav a {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.dropdown-menu a:hover {
  background-color: #e5e5e5;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}