.jumbotron {
  background-size: cover;
  height: 566px;
  background-position: center;
}

.ourProgram {
  margin-top: 5rem;
}

.programList {
  min-height: 482px;
}

.secondImage,
.thirdImage
{
  height: 50%;
}

.linkMore {
  text-align: right;
}

.imgProgram {
  height: 100% !important;
  width: 100% !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  transition: transform 300ms;
}

.imageProgram {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imageProgram:hover > .imgProgram {
  transform: scale(1.3);
}

.imageProgram:hover > .overlay {
  background-color: #f78a28;
  opacity: 0.3;
  transition: 300ms;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000030;
}

.caption {
  position: absolute;
  bottom: 0;
}

.news {
  margin-top: 5rem;
  min-height: 635px;
  background-color: #1d2951;
}

.linkMore a:hover {
  color: #f78a28 !important;
}

@media only screen and (max-width: 720px) {
  .programList .col-md-8 {
    padding-bottom: 1rem !important;
  }

  .imageProgram {
    width: 100% !important;
    height: 222px !important;
  }
}
