.kategoriButton {
  border-radius: 15px !important;
}

.kategoriLink {
  width: inherit !important;
}

.kategoriLink a:hover,
.newsList a:hover {
  color: #f78a28 !important;
}

.dokumentasi {
  background-color: #1d2951;
}

.dokumentasi .carousel-control-prev:hover, .dokumentasi .carousel-control-next:hover  {
  background-color: #d3cdcd3d;
}

.detailMore a:hover {
  color: #f78a28 !important;
}