.h3Mobile, .h3Desktop {
  font-size: x-large !important;
}

.h4 {
  font-size: larger !important;
}

.p {
  text-align: justify;
}

.p span {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .h3Desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .h3Mobile {
    display: none;
  }
}
