.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, .8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 25%;
    max-width: 640py;
    height: 37%;
    background-color: #fff;
    border-radius: 20px;
}

.popup-inner .close-btn {
    position: absolute;
    width: 30%;
    left: 40px;
}

.popup-inner .report-btn {
    position: absolute;
    width: 50%;
}