.jumbotron {
  background-size: cover;
  height: 326px;
  background-position: center;
}
  
.formWrap {
  max-width: 600px;
}
  
.bold {
  font-family: Montserrat-SemiBold, Arial, serif;
}
  
.agree {
  margin: 0.2rem;
}