.title {
    font-size: 14px;
    font-weight:bold;
}

.commentTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -2px;
}

.komen {
    font-size: 14px;
}

.balas {
    margin-left: 55px;
    margin-top: 5px;
}

.commentImage {
    width: 50px;
}

.balasImage {
    width: 40px;
}

.likeButton, .commentButton, .reportButton {
    margin-right: 10px;
    cursor: pointer;
    font-size: larger;
}

.likeButton:hover, .reportButton:hover {
    color: #0d6efd ;
    transition: 300ms;
}

.commentButton:hover {
    color: #20c997 ;
    transition: 300ms;
}